.project-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-main--header{
    width: 80%;
    align-self: center;
    margin-block-start: 20px;
    margin-block-end: 10px;
    font-size: 30px;
    font-family: monospace;
}

.project-main--markdown-viewer{
    align-self: center;
    height: auto;
    width: 80%;
}