.header--main{
    position:static;
    width:95%;
    background-color:var(--background-dark-color);
    height: 4rem;
    display: flex;
    justify-content: start;
    gap: 50px;
    align-items: center;
    z-index:var(--overlay-upper-z-index);
    font-family: monospace;
}

.header--title{
    font-size:x-large;
    margin-inline-start: 50px;
    text-wrap: nowrap;
}

.header--actions{
    width:auto;
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content: start;
    gap:5px;
}

.header-nav-button--background{
    text-align: center;
    background-color: var(--primary-light-color);
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    white-space: nowrap;
}

.header-nav-button--background:hover{
    background-color: var(--primary-color);
}

.header-actions--underline{
    width: auto;
    height: 3px;
    background-color: var(--primary-color);
    transform: skewX(-25deg);
    box-shadow:1px 1px 15px 1px var(--primary-color);
}

.header--drawer{
    position: absolute;
    display: none;
}

.header--mobile-header{
    display: none;
}

@media screen and (min-width: 601px){
    .header-nav-button--background{
    flex-grow: 1;
    transform: skewX(-25deg);
}
}

@media screen and (max-width: 600px){
    .header--main{
        display: none;
    }

    .header--drawer{
        display: block;
    }

    .header-nav-button--background{
        display: relative;
        flex-grow: 1;
        text-align: center;
        background-color: var(--background-ultra-dark-color);
        white-space: nowrap;
        height: 2.5rem;
        margin-block: 0.5rem;
        padding-block: 0.5rem;
        font-size: 1.5rem;
        border-color: teal;
        border-width: 0px 0px 0px 8px
    }

    .header--mobile-header{
        width: 100%;
        height: 60px;
        font-family:monospace;
        display: flex;
        justify-content: start;
        margin-block-start: 8px;
    }
    
    .header-mobile--title{
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-drawer--options{
        display: flex;
        flex-direction:column; 
        gap: 8px;
    }

    .header-drawer--endline{
        border-color: var(--primary-light-color);
        border-width: 2px 0px 0px 0px;
    }

    .header-nav-button--background{
        transform: none;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: monospace;
        background-color: black;
        border-width: 2px 0px 0px 0px;
        border-color: var(--primary-light-color);
        border-style: solid;
    }


}